.title {
    font-size: rem(34px);
    font-weight: 900;
    color:black;
    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}

.black_img {
    filter : brightness(0);
}
.description {
    max-width: rem(600px);
    margin: auto;
    color:black;
    &::after {
        content: '';
        display: block;
        background-color: var(--mantine-color-blue-filled);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
        margin-left: auto;
        margin-right: auto;
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: beige;
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    min-width: 200px;
}

.cardContent{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cardButton{
    margin-top: auto;
}

.cardTitle {
    &::after {
        content: '';
        display: block;
        background-color: var(--mantine-color-blue-filled);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
    }
}